mixin renderApiOversigt(sections)
  each section in sections
    h2(class=section.headingClass) #{section.name}
    p.lead !{section.lead}
    each entity in section.entities
      h3 <a href="/dok/api/#{entity}">#{entity}</a>
      - const page = docUtil.getPageForEntity(entity)
      ul.ul-dawa
        each endpoint in page.sections.filter(section => section.type === 'endpoint')
          li <a href="/dok/api/#{entity}##{endpoint.anchor}">#{endpoint.heading}</a>

