extends layout
include includes/parameterDocMixins

block content
  header.jumbotron.subhead
    div.container
      h1 Adgangsadresser
      div.page-header
        p.lead Web API'et udstiller Danmarks adgangsadresser samt tilhørende funktionalitet.
    div.container
      div.row
        div.span3
          ul#indhold.nav.nav-list.affix
            li(data-toggle='collapse', data-target='#adresse').nav-header Adgangsadresse API            
            ul#adresse.nav.nav-list
              li <a href='#adressesoegning'>Adgangsdressesøgning</a>
              li <a href='#autocomplete'>Autocomplete af adgangsadresser</a>
              li <a href='#adressevalidering'>Adgangsadressevalidering</a>
              li <a href='#adresseopslag'>Adgangsadresseopslag</a>
              li <a href='#reversegeokodning'>Reverse geokodning</a>
            li(data-toggle='collapse', data-target='#haendelser').nav-header Adgangsadressehændelser           
            ul#haendelser.nav.nav-list
            li(data-toggle='collapse', data-target='#adressedatanav').nav-header Adgangsadressedata            
            ul#adressedatanav.nav.nav-list
              li <a href='#adressedata'>Beskrivelse</a>

        div.span9
          section
            div.page-header
              h3.anchor-header#adressesoegning Adgangsadressesøgning
            p Søg efter adresser. Returnerer de adgangsadresser som opfylder kriteriet.
            pre GET /adgangsadresser
            h4 Parametre
            p
              table.table.table-hover
                thead
                  th Navn
                  th Beskrivelse
                tbody
                  tr
                    td vejnavn
                    td Vejnavn. Der skelnes mellem store og små bokstaver. Der kan anvendes wildcard-søgning. F.eks. vejnavn=rød* returnerer alle de adreser, hvis vejnavn starter på <em>rød</em>. Ved wildcard-søgning skelnes ikke mellem store og små bokstaver.
                  tr
                    td husnr
                    td Husnummer. Max 4 cifre eventuelt med et efterfølgende bokstav.
                  tr
                    td postnr
                    td Postnummer. 4 cifre.                 
                                                 
                  tr
                    td sogn
                    td Sognekode. 4 cifre.                                           
                  tr
                    td kommune
                    td Kommunekode. 4 cifre. Eksempel: 0101 for Københavns kommune.                                 
                  tr
                    td cirkel
                    td Find de adresser, som ligger indenfor den cirkel angivet af koordinatet (x,y) og radius r. Som koordinatsystem kan anvendes (ETRS89/UTM32 eller) WGS84/geografisk. Radius angives i meter. cirkel={x},{y},{r}.                               
                  tr
                    td rektangel
                    td Find de adresse, som ligger indenfor den rektangel angivet af det sydvestlige koordinat (x1,y1) og det nordøstlige koordinat (x2, y2). Som koordinatsystem kan anvendes (ETRS89/UTM32 eller) WGS84/geografisk. rektangel={x1},{y1};{x2},{y2}
                  td polygon
                    td (ikke med i prototypen )Find de adresse, som ligger indenfor den angivne polygon. Polygonen specificeres som et array af koordinater på samme måde som koordinaterne specificeres i <a href='http://geojson.org/geojson-spec.html#id4'>GeoJSON's polygon</a>. Som koordinatsystem kan anvendes (ETRS89/UTM32 eller) WGS84/geografisk. polygon=[[10.1351967049683,55.5670601123672],[10.135200982843,55.5671204601228],[10.1362257877892,55.5682107215927],[10.1362451883392,55.568284049162], [10.1362396504186,55.5683669533645]].
              h4 Eksempler
              p Find de adgangsadresser som ligger på Rødkildevej og har husnummeret 46
              pre 
                a(href='#{url}/adgangsadresser?vejnavn=Rødkildevej&husnr=46') #{url}/adgangsadresser?vejnavn=Rødkildevej&husnr=46
              p Find de adresser Hvis vejnavn starter med hvid (eller Hvid) og har postnummeret 2400
              pre 
                a(href='#{url}/adgangsadresser?vejnavn=hvid*&postnr=2400') #{url}/adgangsadresser?vejnavn=hvid*&postnr=2400
             

            div.page-header
              h3.anchor-header#autocomplete Autocomplete af adgangsadresser
            p Søgning er rettet mod autocomplete i adresseindtastning. Indtaster første del adressen, hvor servicen returnerer de adresser som starter med denne del. Det anvendte skema er: {vejnavn} {husnr}, {postnummer postdistrikt}
            pre GET /adresser/autocomplete
            h4 Parametre
            table.table.table-hover
              thead
                th Navn
                th Beskrivelse
              tbody
                tr
                  td q
                  td Del af adresse
                
            h4 Eksempler
            p Find de adresser som matcher <em>Lilledal 1</em>
            pre 
              a(href='#{url}/adgangsadresser/autocomplete?q=Lilledal 1') #{url}/adgangsadresser/autocomplete?q=Lilledal 1

            
            div.page-header
              h3.anchor-header#adressevalidering Adgangsadressevalidering
            p Valider adresse. Hvis adgangsadressen er valid returneres adressen eller returneres http status 404.
            pre GET /adresser/valid 
            h4 Parametre
            table.table.table-hover
              thead
                th Navn
                th Beskrivelse
              tbody
                tr
                  td vejnavn
                  td Vejnavn. Der kan anvendes wildcard-søgning. F.eks. vejnavn=rød* returnerer alle de adgangsadreser, hvis vejnavn starter på <em>rød</em>
                tr
                  td husnr
                  td Husnummer. Max 4 cifre eventuelt med et efterfølgende bokstav.
                tr
                  td bynavn
                  td Suplerende bynavn.
                tr
                  td postnr
                  td                 
                
            h4 Eksempler
            p Valider adressen: Hulgårdsvej 67, 2400 København NV            
            pre 
              a(href='#{url}/adgangsadresser/valid?vejnavn=Hulgårdsvej&husnr=67&postnr=2400') #{url}/adgangsadresser/valid?vejnavn=Hulgårdsvej&husnr=67&postnr=2400
            p Adressen, som udpeger et rækkehus, er gyldig
            p Valider adressen: Lilledal 23, 3450 Allerød
            pre 
              a(href='#{url}/adgangsadresser/valid?vejnavn=Lilledal&husnr=23&postnr=3450') #{url}/adgangsadresser/valid?vejnavn=Lilledal&husnr=23&postnr=3450
            p Adressen er  valid. Den udpeger en opgang (adgangsadresse) med flere adresser. Se eventuelt under validering af adgangsadresser.
            
            
            div.page-header
              h3.anchor-header#adresseopslag Adresseopslag
            p Modtag adresse med id.
            pre GET /adgangsadresser/{id}
            h4 Parametre
            table.table.table-hover
              thead
                th Navn
                th Beskrivelse
              tbody
                tr
                  td id
                  td Adgangsadressen identificeres ved en UUID.
            h4 Eksempel
            p Returner adressen med id 0a3f507a-b2e6-32b8-e044-0003ba298018
            pre 
              a(href='#{url}/adresser/39ece5fb-ef0c-0ee2-e044-0003ba298018') #{url}/adresser/39ece5fb-ef0c-0ee2-e044-0003ba298018
          
            
            div.page-header
              h3.anchor-header#reversegeokodning Reverse geokodning
            p Find den adresse, som ligger nærmest det angivne koordinat. Som koordinatsystem kan anvendes (ETRS89/UTM32 eller) WGS84/geografisk.
            pre GET /adgangsadresser/{x},{y}
            h4 Parametre
            table.table.table-hover
              thead
                th Navn
                th Beskrivelse
              tbody
                tr
                  td x
                  td X koordinat. (Hvis ETRS89/UTM32 anvendes angives øst-værdien.) Hvis WGS84/geografisk anvendex angives bredde-værdien.
                tr
                  td y
                  td Y koordinat. (Hvis ETRS89/UTM32 anvendes angives nord-værdien.) Hvis WGS84/geografisk anvendex angives længde-værdien.
            h4 Eksempler
            p Ikke implementeret: Returner adressen nærmest punktet angivet af ETRS89/UTM32 koordinatet (6176652.55, 725369.59)
            pre 
              a(href='#{url}/adgangsadresser/6176652.55,725369.59') #{url}/adgangsadresser/6176652.55,725369.59
            p Returner adgangsadressen nærmest punktet angivet af WGS84/geografisk koordinatet (12.5851471984198, 55.6832383751223)
            pre 
              a(href='#{url}/adgangsadresser/55.6832383751223,12.5851471984198') #{url}/adgangsadresser/55.6832383751223,12.5851471984198
            
            div.page-header
              h3.anchor-header#adressedata Beskrivelse af adgangsadressedata
            p Ovenstående Web API udstiller adgangsadresser. En <em>adgangsadresse</em> er en struktureret betegnelse som angiver en særskilt adgang til et areal eller en bygning efter reglerne i adressebekendtgørelsen.
             p Forskellen på en adresse og en adgangsadresse er at adressen rummer eventuel etage- og/eller dørbetegnelse. Det gør adgangsadressen ikke. 
            p Web API'et udstiller for hver adgangsadresse følgende informationer:
            +documentSchema(apiSpec.adgangsadresse.model.schema)
block append scripts

  script 
    $('#topbar li').removeClass('active');
    var a= $("#topbar li a[href='adgangsadressedok']")[0];
    var li= $(a).parent().addClass('active'); 
    //$('#indhold li a').on('click', function() {
    //$('#indhold li').removeClass('active');
    //$(this).parent().addClass('active');
    //});
    