extends layout
include includes/parameterDocMixins

block content
  header.jumbotron.subhead
    div.container
      h1 Adresser
      div.page-header
        p.lead Adresse web API'et udstiller Danmarks adresser samt tilhørende funktionalitet.

    div.container
      div.row
        div.span3
          ul#indhold.nav.nav-list.affix
            li(data-toggle='collapse', data-target='#adresse').nav-header Adresse API
            ul#adresse.nav.nav-list
              li <a href='#adressesoegning'>Adressesøgning</a>
              li <a href='#adresseopslag'>Adresseopslag</a>
              li <a href='#adresseautocomplete'>Adresser autocomplete</a>
              li <a href='#reversegeokodning'>Reverse geokodning (stadig<br>under udvikling)</a>
              li <a href='#adressedata'>Beskrivelse af adressedata</a>

            li(data-toggle='collapse', data-target='#adressehaendelser').nav-header Adressehændelser<br>(stadig under udvikling)
            ul#adressehaendelser.nav.nav-list
              li <a href='#adressehaendelsessoegning'>Adressehændelsessøgning</a>
              li <a href='#adressehaendelsesloebenummer'>Seneste løbenummer</a>
              li <a href='#adressehaendelsestyper'>Adressehændelsestyper</a>

        div.span9
          section

            h3.anchor-header#adressesoegning Adressesøgning
            p Søg efter adresser. Returnerer de adresser som opfylder kriteriet.
            +parameterDocQuery(apiSpec.adresse, parameterDoc.adresse)

            div.page-header
            h3.anchor-header#adresseopslag Adresseopslag
            p Modtag adresse med id.
            +parameterDocGet(apiSpec.adresse, parameterDoc.adresse)

            div.page-header
            h3.anchor-header#adresseautocomplete Adresser autocomplete
            +autocompleteDoc(apiSpec.adresse.model.autocompleteSchema, apiSpec.adresse.model.plural, parameterDoc.adresse.autocompleteExamples)

            div.page-header
            h3.anchor-header#reversegeokodning Reverse geokodning (stadig under udvikling)
            p <b>Reversegeokodning er stadig under udvikling, og kan p.t. ikke benyttes!</b>
            p Find den adresse, som ligger nærmest det angivne koordinat. Som koordinatsystem kan anvendes (ETRS89/UTM32 eller) WGS84/geografisk.
            pre GET /adresser/{x},{y}
            h4 Parametre
            table.table.table-hover
              thead
                th Navn
                th Beskrivelse
              tbody
                tr
                  td x
                  td X koordinat. (Hvis ETRS89/UTM32 anvendes angives øst-værdien.) Hvis WGS84/geografisk anvendex angives bredde-værdien.
                tr
                  td y
                  td Y koordinat. (Hvis ETRS89/UTM32 anvendes angives nord-værdien.) Hvis WGS84/geografisk anvendex angives længde-værdien.
            h4 Eksempler
            p Ikke med i prototypen: Returner adressen nærmest punktet angivet af ETRS89/UTM32 koordinatet (6176652.55, 725369.59)
            pre
              a(href='#{url}/adresser/6176652.55,725369.59') #{url}/adresser/6176652.55,725369.59
            p Returner adressen nærmest punktet angivet af WGS84/geografisk koordinatet (12.5851471984198, 55.6832383751223)
            pre
              a(href='#{url}/adresser/55.6832383751223,12.5851471984198') #{url}/adresser/55.6832383751223,12.5851471984198

            div.page-header
            h3.anchor-header#adressedata Beskrivelse af adressedata
            p En <em>adresse</em> er en struktureret betegnelse som angiver en særskilt adgang til et areal, en bygning eller en del af en bygning efter reglerne i adressebekendtgørelsen.
            p En adresse angiver en særskilt adgang til et areal, en bygning eller en del af en bygning, efter reglerne i adressebekendtgørelsen. En adresse fastsættes for at angive en bestemt adgang til
            ul
              li et areal,  fx. en byggegrund, et grønt område eller en sportsplads
              li en bygning, herunder et andet bygværk, f.eks. et teknisk anlæg
              li en del af en bygning, fx en etage eller en bolig- eller erhvervs¬enhed i en bygning
            p Forskellen på en adresse og en adgangsadresse er at adressen rummer eventuel etage- og/eller dørbetegnelse. Det gør adgangsadressen ikke.
            p Web API'et udstiller for hver adresse følgende informationer:
            +documentSchema(apiSpec.adresse.model.schema)

            div.page-header
            h2.anchor-header#adressehaendelser Adressehændelser
            p Ikke med i prototypen: Adresser oprettes, ændres og nedlægges. Nedenfor beskrevne funktionalitet gør det muligt at følge disse hændelser. Hændelser kan f.eks. anvendes til at etablere en opdateret kopi af adresserdata. Hvordan dette gøres kan du læse om
               a(href='#{url}/generelt#kopiregister') her

            div.page-header
            h3.anchor-header#adressehaendelsessoegning Adressehændelsessøgning
            p <b>Stadig under udvikling, og kan p.t. ikke benyttes!</b>
            p Søg efter adressehændelser. Returner de adressehændelser, som opfylder kriteriet.
            pre GET /adresserhaendelser
            h4 Parametre
            table.table.table-hover
              thead
                th Navn
                th Beskrivelse
              tbody
                tr
                  td fraloebenr
                  td Medtager de adressehændelser, hvis løbenumre er større end det angivne.
                tr
                  td fratidspunkt
                  td Medtager de adressehændelser, hvis hændelsestidpunkter er senere end det angivne.
                tr
                  td adresseid
                  td Medtager de adressehændelser, som vedrører adressen med pågældende adresseid.
                tr
                  td type
                  td Medtager de adressehændelser, hvis type er lig den angivne. Typen kan antage følgende værdier: <em>oprettet</em>, <em>ændret</em> og <em>nedlagt</em>.
            h4 Eksempler
            p Returner oprettelsesadressehændelser med løbenummer større end 2027
            pre
              a(href='#{url}/adresserhaendelser?fraloebenr=2027&type=oprettelse') #{url}/adresser?fraloebenr=2027&type=oprettelse
            p Returner adressehændelser som vedrører adressen med adresseid'et 0a3f50a0-73ca-32b8-e044-0003ba298018
            pre
              a(href='#{url}/adressehaendelser?adresseid=0a3f50a0-73ca-32b8-e044-0003ba298018') #{url}/adressehaendelser?adresseid=0a3f50a0-73ca-32b8-e044-0003ba298018

            div.page-header
            h3.anchor-header#adressehaendelsessoegning Adressehændelseopslag
            p <b>Stadig under udvikling, og kan p.t. ikke benyttes!</b>
            p Returner den adressehændelser med det givne løbenummer.
            pre GET /adressehaendelser/{løbenummer}
            h4 Parametre
            table.table.table-hover
              thead
                th Navn
                th Beskrivelse
              tbody
                tr
                  td løbenummer
                  td Løbenummeret på den ønskede adressehændelse.

            h4 Eksempler
            p Returner adressehændelsen med løbenummeret 2027
            pre
              a(href='#{url}/adressehaendelser/2027') #{url}/adressehaendelser/2027

            div.page-header
            h3.anchor-header#adressehaendelsesloebenummer Seneste løbenummer
            p Returner senest anvendte løbenummer.
            pre GET /adressehaendelser/loebenummer
            h4 Eksempler
            p Returner senest anvendte løbenummer
            pre
              a(href='#{url}/adressehaendelser/loebenummer') #{url}/adressehaendelser/loebenummer

            div.page-header
            h3.anchor-header#adressehaendelsestyper Adressehændelsestyper
            p <b>Stadig under udvikling, og kan p.t. ikke benyttes!</b>
            p Nedenfor beskrives de enkelte hændelsestyper.
            h4 Adresseoprettelse

            table.table.table-hover
              thead
                th(colspan="3") Navn
                th Beskrivelse
              tbody
                tr
                  td(colspan="3") løbenr
                  td Hændelsens løbenummer.
                tr
                  td(colspan="3") tidspunkt
                  td Hændelsestidspunkt.
                tr
                  td(colspan="3") adresseid
                  td Adresseid for den aktuelle adresse.
                tr
                  td(colspan="3") type
                  td Hændelsestype. I dette tilfælde <em>oprettelse</em>.
                tr
                  td(colspan="3") adresse
                  td Den oprettede adresse.

            h4 Adresseændring

            table.table.table-hover
              thead
                th(colspan="3") Navn
                th Beskrivelse
              tbody
                tr
                  td(colspan="3") løbenr
                  td Hændelsens løbenummer.
                tr
                  td(colspan="3") tidspunkt
                  td Hændelsestidspunkt.
                tr
                  td(colspan="3") adresseid
                  td Adresseid for den aktuelle adresse.
                tr
                  td(colspan="3") type
                  td Hændelsestype. I dette tilfælde <em>ændring</em>.
                tr
                  td(colspan="3") feltnavn
                  td Navnet på de felt, som er ændret. Kan antage følgende værdier: vej, husnr, etage, dør, supplerendebynavn, postnr, kommune, matrikelnr, esrejendomsnr, adgangspunkt, ddkn, sogn, retskreds, politikreds, opstillingskreds, region.
                tr
                  td(colspan="3") værdifør
                  td Værdien før hændelsen.
                tr
                  td(colspan="3") værdiefter
                  td Værdien efter hændelsen.

            h4 Adressenedlæggelse

            table.table.table-hover
              thead
                th(colspan="3") Navn
                th Beskrivelse
              tbody
                tr
                  td(colspan="3") løbenr
                  td Hændelsens løbenummer.
                tr
                  td(colspan="3") tidspunkt
                  td Hændelsestidspunkt.
                tr
                  td(colspan="3") adresseid
                  td Adresseid for den aktuelle adresse.
                tr
                  td(colspan="3") type
                  td Hændelsestype. I dette tilfælde <em>nedlæggelse</em>.



block append scripts
  script.
    $('#topbar li').removeClass('active');
    var a= $("#topbar li a[href='adressedok']")[0];
    var li= $(a).parent().addClass('active');
