extends sidebar-auto
include includes/parameterDocMixins

block main
  h1 API dokumentation
  p.
    Det anbefales at læse <a href="/dok/api/generelt">generel information om DAWA API'et</a> igennem
    før DAWA API'et tages i brug.

  p.
    Nedenfor er en oversigt over samtlige ressourcer som udstilles af DAWA:
  each section in docUtil.getSections()
    h2(class=section.headingClass) #{section.name}
    p.lead !{section.lead}
    each entity in section.entities
      h3 <a href="/dok/api/#{entity}">#{entity}</a>
      - const page = docUtil.getPageForEntity(entity)
      ul
        each endpoint in page.sections.filter(section => section.type === 'endpoint')
          li <a href="/dok/api/#{entity}##{endpoint.anchor}">#{endpoint.heading}</a>
