extends layout

block content
  header.jumbotron.subhead
    div.container
      h1 Regioner, kommuner, sogne, retskredse og politikredse 
      div.page-header
        p.lead Web API'et udstiller lister over Danmarks regioner, kommuner, sogne, retskredse og politikredse. (ikke med i prototype)
    div.container
      div.row
        div.span3
          ul#indhold.nav.nav-list.affix
            li(data-toggle='collapse', data-target='#region').nav-header Region API            
            ul#region.nav.nav-list
              li <a href='#regionsoegning'>Regionsøgning</a>
              li <a href='#regionopslag'>Regionopslag</a>
              li <a href='#regiondata'>Databeskrivelse</a>
            li(data-toggle='collapse', data-target='#kommune').nav-header Kommune API            
            ul#kommune.nav.nav-list
              li <a href='#kommunesoegning'>Kommunesøgning</a>
              li <a href='#kommuneopslag'>Kommuneopslag</a>
              li <a href='#kommunedata'>Databeskrivelse</a>
            li(data-toggle='collapse', data-target='#sogn').nav-header Sogn API            
            ul#sogn.nav.nav-list
              li <a href='#sognsoegning'>Sognsøgning</a>
              li <a href='#sognopslag'>Sognopslag</a>
              li <a href='#sogndata'>Databeskrivelse</a>
            li(data-toggle='collapse', data-target='#retskreds').nav-header Retskreds API            
            ul#retskreds.nav.nav-list
              li <a href='#retskredssoegning'>Retskredssøgning</a>
              li <a href='#retskredsopslag'>Retskredsopslag</a>
              li <a href='#retskredsdata'>Databeskrivelse</a>
            li(data-toggle='collapse', data-target='#politikreds').nav-header Politikreds API            
            ul#politikreds.nav.nav-list
              li <a href='#politikredssoegning'>Politikredssøgning</a>
              li <a href='#politikredsopslag'>Politikredsopslag</a>
              li <a href='#politikredsdata'>Databeskrivelse</a>

        div.span9
          section
            div.page-header
              h3.anchor-header#regionsoegning Regionsøgning
            p Søg efter regioner. Returnerer de regioner som opfylder kriteriet. 
            pre GET /regioner
            h4 Parametre
            p
              table.table.table-hover
                thead
                  th Navn
                  th Beskrivelse
                tbody
                  tr
                    td navn
                    td Regionens navn. Der skelnes mellem store og små bokstaver. Der kan anvendes wildcard-søgning. F.eks. navn=rød* returnerer alle de regioner, hvis navn starter med <em>rød</em>. Ved wildcard-søgning skelnes ikke mellem store og små bokstaver. Kan ikke anvendes sammen med <em>alternativstavning</em>.
                  tr
                    td alternativstavning
                    td Alternativ stavning af regionens navn. Kan ikke anvendes sammen med <em>navn</em>.
                  tr
                    td regionskode
                    td Regionskoden. 4 cifre.                                                        
              h4 Eksempler
              p Find de regioner, hvis navn starter med h 
              pre 
                a(href='http://#{url}/regioner?navn=h*') http://#{url}/regioner?navn=h*
              p Returner alle regioner
              pre 
                a(href='http://#{url}/regioner') http://#{url}/regioner

            
            div.page-header
              h3.anchor-header#regionopslag Regionopslag
            p Modtag region.
            pre GET /regioner/{regionskode}
            h4 Parametre
            table.table.table-hover
              thead
                th Navn
                th Beskrivelse
              tbody
                tr
                  td regionskode
                  td Fircifret regionskode
            h4 Eksempel
            p Returner oplysniger om Region Syddanmark
            pre 
              a(href='http://#{url}/regioner/1083') http://#{url}/regioner/1083
          
            div.page-header
              h3.anchor-header#regiondata Beskrivelse af regionsdata
            p Web API'et udstiller for hver region følgende informationer:

            table.table.table-hover
              thead
                th(colspan="3") Navn
                th Beskrivelse
              tbody 
                tr
                  td(colspan="3") kode
                  td Fircifret regionskode. 
                
                tr
                  td(colspan="3") navn
                  td Regionens navn.
                 
                tr
                  td(colspan="3") grænse
                  td Regionens grænse i GeoJSON              

          section
            div.page-header
              h3.anchor-header#kommunesoegning Kommunesøgning
            p Søg efter kommuner. Returnerer de kommuner som opfylder kriteriet. 
            pre GET /kommuner
            h4 Parametre
            p
              table.table.table-hover
                thead
                  th Navn
                  th Beskrivelse
                tbody
                  tr
                    td navn
                    td Kommunens navn. Der skelnes mellem store og små bokstaver. Der kan anvendes wildcard-søgning. F.eks. navn=rød* returnerer alle de kommuner, hvis navn starter med <em>rød</em>. Ved wildcard-søgning skelnes ikke mellem store og små bokstaver. Kan ikke anvendes sammen med <em>alternativstavning</em>.
                  tr
                    td alternativstavning
                    td Alternativ stavning af kommuneens navn. Kan ikke anvendes sammen med <em>navn</em>.
                  tr
                    td kommunekode
                    td Kommunekoden. 4 cifre.                                                        
              h4 Eksempler
              p Find de kommuner, hvis navn starter med h 
              pre 
                a(href='http://#{url}/kommuner?navn=h*') http://#{url}/kommuner?navn=h*
              p Returner alle kommuner
              pre 
                a(href='http://#{url}/kommuner') http://#{url}/kommuner

            
            div.page-header
              h3.anchor-header#kommuneopslag Kommuneopslag
            p Modtag kommune.
            pre GET /kommuner/{kommunekode}
            h4 Parametre
            table.table.table-hover
              thead
                th Navn
                th Beskrivelse
              tbody
                tr
                  td kommunekode
                  td Fircifret kommunekode
            h4 Eksempel
            p Returner oplysniger om Halsnæs kommune
            pre 
              a(href='http://#{url}/kommuer/0260') http://#{url}/kommuner/0260
          
            div.page-header
              h3.anchor-header#kommunedata Beskrivelse af kommunedata
            p Web API'et udstiller for hver kommune følgende informationer:

            table.table.table-hover
              thead
                th(colspan="3") Navn
                th Beskrivelse
              tbody 
                tr
                  td(colspan="3") kode
                  td Fircifret kommunekode. 
                
                tr
                  td(colspan="3") navn
                  td Kommunens navn.
                 
                tr
                  td(colspan="3") grænse
                  td Kommunens grænse i GeoJSON   


          section
            div.page-header
              h3.anchor-header#sognsoegning Sognsøgning
            p Søg efter sogne. Returnerer de sogne som opfylder kriteriet. 
            pre GET /sogne
            h4 Parametre
            p
              table.table.table-hover
                thead
                  th Navn
                  th Beskrivelse
                tbody
                  tr
                    td navn
                    td Sognets navn. Der skelnes mellem store og små bokstaver. Der kan anvendes wildcard-søgning. F.eks. navn=rød* returnerer alle de sogne, hvis navn starter med <em>rød</em>. Ved wildcard-søgning skelnes ikke mellem store og små bokstaver. Kan ikke anvendes sammen med <em>alternativstavning</em>.
                  tr
                    td alternativstavning
                    td Alternativ stavning af sognets navn. Kan ikke anvendes sammen med <em>navn</em>.
                  tr
                    td sognekode
                    td Sognekoden. 4 cifre.                                                        
              h4 Eksempler
              p Find de sogne, hvis navn starter med grøn 
              pre 
                a(href='http://#{url}/sogne?navn=grøn*') http://#{url}/sogne?navn=grøn*
              p Returner alle sogne
              pre 
                a(href='http://#{url}/sogne') http://#{url}/sogne

            
            div.page-header
              h3.anchor-header#sognopslag Sogneopslag
            p Modtag sogn.
            pre GET /sogne/{sognekode}
            h4 Parametre
            table.table.table-hover
              thead
                th Navn
                th Beskrivelse
              tbody
                tr
                  td sognekode
                  td Fircifret sognekode
            h4 Eksempel
            p Returner oplysninger om Grøndal sogn
            pre 
              a(href='http://#{url}/sogne/7060') http://#{url}/sogne/7060
          
            div.page-header
              h3.anchor-header#sogndata Beskrivelse af sognedata
            p Web API'et udstiller for hvert sogn følgende informationer:

            table.table.table-hover
              thead
                th(colspan="3") Navn
                th Beskrivelse
              tbody 
                tr
                  td(colspan="3") kode
                  td Fircifret sognekode. 
                
                tr
                  td(colspan="3") navn
                  td Sognets navn.
                 
                tr
                  td(colspan="3") grænse
                  td Sognets grænse i GeoJSON   


          section
            div.page-header
              h3.anchor-header#retskredssoegning Retskredssøgning
            p Søg efter retskredse. Returnerer de retskredse som opfylder kriteriet. 
            pre GET /retskredse
            h4 Parametre
            p
              table.table.table-hover
                thead
                  th Navn
                  th Beskrivelse
                tbody
                  tr
                    td navn
                    td Retskredsens navn. Der skelnes mellem store og små bokstaver. Der kan anvendes wildcard-søgning. F.eks. navn=rød* returnerer alle de sogne, hvis navn starter med <em>rød</em>. Ved wildcard-søgning skelnes ikke mellem store og små bokstaver. Kan ikke anvendes sammen med <em>alternativstavning</em>.
                  tr
                    td alternativstavning
                    td Alternativ stavning af sognets navn. Kan ikke anvendes sammen med <em>navn</em>.
                  tr
                    td sognekode
                    td Retskredskoden. 4 cifre.                                                        
              h4 Eksempler
              p Find de retskredse, hvis navn indeholder med århus 
              pre 
                a(href='http://#{url}/retskredse?navn=*århus*') http://#{url}/retskredse?navn=*århus*
              p Returner alle retskredse
              pre 
                a(href='http://#{url}/retskredse') http://#{url}/retskredse

            
            div.page-header
              h3.anchor-header#retskredsopslag Retskredsopslag
            p Modtag sogn.
            pre GET /retskredse/{retskredskode}
            h4 Parametre
            table.table.table-hover
              thead
                th Navn
                th Beskrivelse
              tbody
                tr
                  td retskredskode
                  td Fircifret retskredskode
            h4 Eksempel
            p Returner oplysninger om Retten på Frederiksberg
            pre 
              a(href='http://#{url}/retskredse/22') http://#{url}/retskredse/22
          
            div.page-header
              h3.anchor-header#retskredsdata Beskrivelse af retskredsdata
            p Web API'et udstiller for hver retskreds følgende informationer:

            table.table.table-hover
              thead
                th(colspan="3") Navn
                th Beskrivelse
              tbody 
                tr
                  td(colspan="3") kode
                  td Tocifret retskredskode. 
                
                tr
                  td(colspan="3") navn
                  td Retskredsens navn.
                 
                tr
                  td(colspan="3") grænse
                  td Retkredsens grænse i GeoJSON  

          section
            div.page-header
              h3.anchor-header#politikredssoegning Politikredssøgning
            p Søg efter politikredse. Returnerer de politikredse, som opfylder kriteriet. 
            pre GET /politikredse
            h4 Parametre
            p
              table.table.table-hover
                thead
                  th Navn
                  th Beskrivelse
                tbody
                  tr
                    td navn
                    td Politikredsens navn. Der skelnes mellem store og små bokstaver. Der kan anvendes wildcard-søgning. F.eks. navn=rød* returnerer alle de sogne, hvis navn starter med <em>rød</em>. Ved wildcard-søgning skelnes ikke mellem store og små bokstaver. Kan ikke anvendes sammen med <em>alternativstavning</em>.
                  tr
                    td alternativstavning
                    td Alternativ stavning af politikredsens navn. Kan ikke anvendes sammen med <em>navn</em>.
                  tr
                    td sognekode
                    td Politikredskoden. 4 cifre.                                                        
              h4 Eksempler
              p Find de politikredse, hvis navn indeholder med københavn 
              pre 
                a(href='http://#{url}/politikredse?navn=*københavn*') http://#{url}/politikredse?navn=*københavn*
              p Returner alle politikredse
              pre 
                a(href='http://#{url}/politikredse') http://#{url}/politikredse

            
            div.page-header
              h3.anchor-header#politikredsopslag Politikredsopslag
            p Modtag sogn.
            pre GET /politikredse/{politikredskode}
            h4 Parametre
            table.table.table-hover
              thead
                th Navn
                th Beskrivelse
              tbody
                tr
                  td politikredskode
                  td Fircifret politikredskode
            h4 Eksempel
            p Returner oplysninger om Bornholms Politi
            pre 
              a(href='http://#{url}/politikredse/12') http://#{url}/politikredse/12
          
            div.page-header
              h3.anchor-header#politikredsdata Beskrivelse af politikredsdata
            p Web API'et udstiller for hver politikreds følgende informationer:

            table.table.table-hover
              thead
                th(colspan="3") Navn
                th Beskrivelse
              tbody 
                tr
                  td(colspan="3") kode
                  td Tocifret politikredskode. 
                
                tr
                  td(colspan="3") navn
                  td Politikredsens navn.
                 
                tr
                  td(colspan="3") grænse
                  td Politikredsens grænse i GeoJSON  

block append scripts

  script 
    $('#topbar li').removeClass('active');
    var a= $("#topbar li a[href='listerdok']")[0];
    var li= $(a).parent().addClass('active'); 
    //$('#indhold li a').on('click', function() {
    //$('#indhold li').removeClass('active');
    //$(this).parent().addClass('active');
    //});
    