extends sidebar-auto
include includes/parameterDocMixins

block main
  h1 Replikering - databeskrivelser
  p.lead
    | Databeskrivelser for alle de entiteter, som udstilles på DAWAs replikerings-API.
    | Se <a href="/dok/api/replikering">replikerings-guiden</a> for information om hvordan
    | en klient kan etablere en lokal kopi af data.

  - let sortedEntities = Object.keys(replikeringSchemas).sort();
  each section in replikeringDataSections
    h2 #{section.title}
    p !{section.lead}
    each entity in section.entities
      h3 #{entity}
      if replikeringBindings[entity].additionalParameters
        h4 Parametre
        p Ved udtræk og hændelser er det muligt at angive følgende parametre:
        table.table.table-hover
          thead
            th Navn
            th Beskrivelse
          tbody
            each parameterName in replikeringModels[entity].key
              tr
                td
                  code=parameterName
                td Returner kun rækker eller hændelser hvor feltet <code>#{parameterName}</code> har den angivne værdi.
            each parameter in replikeringBindings[entity].additionalParameters
              tr
                td
                  code=parameter.name
                td Returner kun rækker eller hændelser hvor feltet <code>#{parameter.name}</code> har den angivne værdi.

      h4 Data
      +documentSchema3(replikeringSchemas[entity])

